<div [formGroupName]="controlName" class="example-form-fields">
    <mat-form-field>
        <mat-label>name</mat-label>
        <input matInput formControlName="user">
        <mat-error *ngIf="parentFormGroup.controls[controlName]?.get('user')?.invalid">{{getErrorMessage('user')}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>password</mat-label>
        <input matInput [type]="'password'" formControlName="pwd">
        <mat-error *ngIf="parentFormGroup.controls[controlName]?.get('pwd')?.invalid">{{getErrorMessage('pwd')}}</mat-error>
    </mat-form-field>
</div>