<mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card class="login-card">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
                <mat-card-subtitle>Enter your name and password</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form-group-user-name-password
                    controlName="user-credentials"
                ></form-group-user-name-password>
                <button type="submit" mat-flat-button color="primary">Login</button>
            </mat-card-content>
        </mat-card>
    </form>
    </mat-grid-tile>
</mat-grid-list>